/* HTML CSS */

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    text-align: left;
    background-color: #fff;
}

section {
    position: relative;
    margin: 0 auto;
    padding: 6.25rem 0;
}

a {
    text-decoration: none;
    color: #4F944F;
}


ul {
    list-style: none;
}

h1 {
    font-size: 3.125rem;
    font-family: "Muli", sans-serif;
    font-weight: 400;
    line-height: 1.25;
    color: #000;
}

h3 {
    font-family: "Muli", sans-serif;
    color: #000;
}


/* Offcanvas Search */

.search {
    height: 15%;
}

.search input {
    outline: none;
    border: none;
    font-size: 16px;
    height: auto;
}

.search button {
    border-radius: 50%;
    font-size: 12px;
    opacity: 0.7 !important;
}

.search button:hover {
    background-color: #efefef;
}

.search input:focus {
    box-shadow: none;
}


/* Offcanvas Cart */

.offcanvas.show {
    transform: none;
}

.offcanvas-end {
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 400;
    /* padding: 2rem; */
    width: 40% !important;
}

.offcanvas h5,
.media-title {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
}

.media img {
    max-width: 5rem;
}

.media-body {
    margin-left: 1.25rem;
}

.cart-item-close {
    padding: 0.7rem;
    border-radius: 50%;
    font-size: 12px;
    opacity: 0.7 !important;
    background-color: #efefef;
}

.cart-item p {
    margin-bottom: 0 !important;
}

.offcanvas-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.9375rem 1.875rem;
    min-height: 6.25rem;
    overflow: hidden;
    border-top: 0;
}

.btn-block {
    display: block;
    width: 100%;
    border-radius: 0 !important;
}

.btn {
    text-transform: uppercase;
    letter-spacing: .05rem;
    cursor: pointer;
    border-radius: 0;
    line-height: 1.5;
    font-weight: 400;
}

.btn-primary {
    color: #101010;
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-secondary {
    color: #fff;
    background-color: #4F944F;
    border-color: #4F944F;
}


/* Offcanvas Cart MediaQuery */

@media screen and (max-width:768px) {

    .offcanvas-end {
        width: 100% !important;
    }

    section {
        padding: 3.25rem 0;
    }

}

.row:not(:last-child) {
    margin-bottom: 2.5rem;
}


/* Breadcrumb Section */

.breadcrumb-item {
    position: relative;
    font-size: 0.75rem;
    color: #555;
}

.breadcrumb-item a {
    color: #555;
    font-size: 0.75rem;
}


/* FAQ Section */

.bg-light {
    background-color: #efefef !important;
}

.accordion-button {
    font-size: 1rem;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0) !important;
}

.accordion-item {
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 0.9375rem 0 !important;
    /* border: 1px solid rgba(0, 0, 0, .125) !important; */
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #e7f1ff00;
    box-shadow: none;
}

.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(img/arrow-down-black.svg);
}

.accordion-body p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
}

/* Footer Section */

footer {
    position: relative;
    margin: 0 auto;
    /* padding: 8rem; */
}

.foot {
    padding: 5rem 7.1rem !important;
    background-color: #101010 !important;
}

.over-h {
    overflow: hidden;
}

.foot p {
    line-height: 1.8;
    padding-right: 2rem;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5) !important;
}

.foot a {
    color: #fff;
}

.foot h4 {
    color: rgba(255, 255, 255, 0.5) !important;
}

.foot .list-group {
    flex-wrap: wrap;
    flex-direction: initial;
}

.foot .list-group-item {
    width: 50%;
    margin-bottom: 0.625rem;
    padding: 0;
    background: transparent;
    border: 0;
}

.foot .list-group-item a {
    font-size: 0.875rem;
}

.foot input {
    background-color: transparent;
    padding: 1.0625rem 1.0625rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0.5);
}

.foot input:focus {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #dddddd;
}

.foot .btn-sub {
    background-color: #fff;
    color: #000;
    padding: 0.9375rem 1.875rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.foot .nav-icons {
    margin: -0.625rem 0 0 -0.625rem;
}

.foot .nav-link {
    font-size: 0.875rem;
    letter-spacing: .05em;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 0.625rem;
}

.foot .nav-link :hover {
    color: #fff;
}

.foot i {
    padding: 0;
    font-size: 1rem;
}

/* Footer MediaQuery */

@media screen and (max-width:768px) {

    .foot {
        padding: 5rem 0.3rem !important;
    }

}